@model IEnumerable<PetStorePreWork.DAL.Pet>

@{
    ViewBag.Title = "Index";
}

<h2>This is my PetStore Page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType.AnimalName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalType.AnimalName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PetId })
        </td>
    </tr>
}

</table>
